<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %>'s list</h1>
</div>

<div class="box">
  <% listItems.forEach(function(listItem){%>
  <div class="item">
    <form action="/delete" method="post">
      <input name="checkbox" value="<%= listItem._id %>" type="checkbox" onChange="this.form.submit()">
      <input type="hidden" name="list" value="<%= listTitle %>">
    </form>
    <p><%= listItem.name %></p>
  </div>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
